.quitebig {
    width: 100%;
}

body {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); 
}

textarea {
    resize: none;
}

#leftward {
    width:30%; float:left;
}

#rightward {
    float:right; width:65%;
}

#rightward :after {
    clear: both;
}

.vertfill {
    height: 90%;
}

.top_container {
    width: 50%;
    margin: 0 auto;
}

.tooltip {
    display:none;
    border:1px solid #F00;
}
